<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="highway62.reminderapp">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".ReminderActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".adminSettings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/SettingsActivityTheme" />
        <activity
            android:name=".adminSettings.AddUPActivity"
            android:theme="@style/SettingsActivityTheme">
            <intent-filter>
                <action android:name="highway62.reminderapp.AddUPActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".adminSettings.ViewUPActivity"
            android:theme="@style/SettingsActivityTheme">
            <intent-filter>
                <action android:name="highway62.reminderapp.ViewUPActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".adminSettings.SettingsPromptLevelActivity"
            android:label="@string/title_activity_settings_prompt_level"
            android:parentActivityName=".adminSettings.SettingsActivity"
            android:theme="@style/SettingsActivityTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".adminSettings.SettingsActivity" />

            <intent-filter>
                <action android:name="highway62.reminderapp.SettingsPromptLevelActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.ReminderService"
            android:exported="false" />

        <receiver
            android:name=".services.ReminderBootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".reminderhandlers.ReminderReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name=".reminderhandlers.SmartReceiver"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".ReminderDetailActivity" />
        <activity android:name=".ReminderNotificationActivity" />
        <activity android:name=".PromptNotificationActivity" />

        <service
            android:name=".reminderhandlers.ReminderReceiver$NotificationActionService"
            android:exported="false" />

        <activity android:name=".SmartReminding.OCRActivity" />
        <activity android:name=".SmartReminding.MainOcr"></activity>
    </application>

</manifest>